<%include layout.ejs%>
  <link href="stylesheets/login.css" rel="stylesheet">
  
  <body>

    <div class="container">

      <form class="form-signin" action="/login" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="userName" class="sr-only">your true name</label>
        <input type="text" name='userName' id="userName" class="form-control" placeholder="your true name" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name='pwd' id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
  
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <h4 class="msg"><%=msg%></h4>
      </form>

      <div class="register">
        <a href="/register">Register</a>
      </div>
    </div> <!-- /container -->
  </body>

